.navbar {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
    background-color: whitesmoke;
    border-bottom: 1px solid black;
}

.link {
    color: black;
    text-decoration: none;
}