.colFlex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    font-weight: bolder;
    color: rgb(74, 74, 74);
    width: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px rgb(210, 210, 210) solid;
    border-radius: 10px;
    margin: 10px;
}

.fields {
    padding-left: 10px;
}

.fields p, input{
    margin:5px;
}

.value {
    font-weight:lighter;
    color: rgb(108, 99, 100);
}

.button {
    margin-left: auto;
    padding: 10px;
    display: inline-block;
}

.buttonIcon {
    width: 30px;
    border: none;
    background: none;
}